<p>
  抱歉，這篇文章的出處是中央社，為了避免同一篇新聞多次評論的情況，請使用中央社的網址唷。
</p>

<p>
<%= search_term = "\"#{@article.title}\""
  link_to "Google 搜尋中央社新聞 #{@article.title}", "https://www.google.com.tw/#safe=off&q=#{CGI::escape(search_term)}+site:cna.com.tw", target:'_blank' %>
</p>

<p>
<%= form_tag articles_path do %>
  <%= url_field_tag :url %>
  <%= submit_tag '噓新聞' %>
<% end %>
</p>
