<table class="table">
<% @article.lines.each do |l| %>
  <tr>
    <td>
      <%= l.text %>
    </td>
    <td>
      <%= link_to '改正', new_review_path(line_id:l.id), class:'btn', :data => { :colorbox => true } %>
    </td>
    <% l.reviews.each do |r| %>
      <td>
        <%= r.text %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>
