<table class="table">
<% @article.lines.each do |l| %>
  <tr>
    <td>
      <%= l.text %>
    </td>
    <td>
      <%= link_to '改正', new_article_line_review_path(@article, l), class:'btn' %>
    </td>
    <% l.reviews.each do |r| %>
      <td>
        <%= r.text %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>
