<h2><%= title '本使用者認證過的網路身份' %></h2>
<p>
本頁面是為證明該糾正的內容來自以下 Facebook 的使用者。
</p>
<ul>
<% @user.identities.each do |identity| %>
  <%
    url = identity.raw['info']['urls'].try(:first).try(:last)
    image = identity.raw['info']['image']
  %>
  <li>
    <span class="label"><%= identity.provider.capitalize %></span>
    <%= link_to('頁面連結', url) if url %>
    <%= image_tag image if image %>
  </li>
<% end %>
</ul>
