<h2>本使用者認證過的網路身分</h2>
<ul>
<% @user.identities.each do |identity| %>
  <%
    url = identity.raw['info']['urls'].try(:first).try(:last)
    image = identity.raw['info']['image']
  %>
  <li>
    <span class="label"><%= identity.provider.capitalize %></span>
    <%= link_to('頁面連結', url) if url %>
    <%= image_tag image if image %>
  </li>
<% end %>
</ul>
