<p>
這裡是一個理性的新聞糾正網站。請以可信的參考連結，科學資料，實際的體驗，演繹邏輯，非情緒性的字眼等等來糾正你發現的錯誤。
</p>
<p>
我們希望能夠避免新聞錯誤或是假新聞。為了讓新聞工作者在犯錯後能改進進步，也請使用正面口氣來作糾正。
</p>
<p>
誠徵網頁設計師來改進使用者介面，以及程式設計師一同來改進<a href='https://github.com/lulalala/taiwanese_news_parser' target="_blank">新聞抓取器</a>以及本網站。
</p>
<p>
如果您是公司，團體或是有名的人士，也希望您能讓我能列名為支持者清單，讓本網站在面對主流媒體時有足夠的立足點。
</p>
<p>
感謝您的光臨
</p>
<p>
1dv
</p>
